#container{
    background-color: beige;
    justify-content: center;
    display: grid;
    padding-bottom: 10px;
}

.row {
    background-color: blanchedalmond;
    display: grid;
    justify-content: center;
    padding: 10px;
}

.mid {
    justify-self: center;
}

button {
    margin: 5px;
}